PORT=8081
API_KEY=your_key_here
MODEL=gpt-5.1
BASE_URL=https://api.openai.com/v1
CORS_ORIGINS=*
LOG_LEVEL=info
COMMANDS_FILE=../hermes-mcp/tools.json
SYSTEM_PROMPT_PATH=../hermes-mcp/prompts/
VERBOSE=
GPT_VERBOSITY=
REASONING_EFFORT=
